body {
    background-color: #cad3a9;
}

.algorithm-container {
    position: relative;
    height: 100%;
    max-width: fit-content;
    background-color: #f9f0e5;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.33);
}

.result-container {
    position: relative;
    max-width: fit-content;
    background-color: #f9f0e5;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.33);

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hover {
    cursor: pointer;
}

.story-preview {
    position: absolute;
    left: 461px;
    background: #ffd6a0;
    text-align: center;
    width: 15rem;
    scale: 0;
}

#textBox{
    background-color: #fed9ff;
    max-height: 400px;
    width: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: center;
    padding: 20px;

    scrollbar-width: none;
}

#textBox::-webkit-scrollbar {
    display: none;
}

/* Graph and Nodes */
.node {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.start-node {
    fill: #ff0000;
    stroke: #000;
    stroke-width: 1.5px;
}

.end-node {
    fill: #00ff00;
    stroke: #000;
    stroke-width: 1.5px;
}

.start-node > .pin {
    stroke: rgb(71, 71, 201);
    stroke-width: 2px;
}

.end-node > .pin {
    stroke: rgb(63, 187, 63);
    stroke-width: 2px;
}

.pin {
    opacity: 0;
}

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.shortest-path {
    stroke: #ff0000;
    stroke-width: 2px;
}

