body {
    background-color: #cad3a9;
}

.algorithm-container {
    max-width: fit-content;
    background-color: #f9f0e5;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.33);
}

.result-container {
    max-width: fit-content;
    background-color: #f9f0e5;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.33);

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hover {
    cursor: pointer;
}

.story-preview {
    position: absolute;
    background: #ffd6a0;
    text-align: center;
    width: 15rem;
    scale: 0;
}


/* Graph and Nodes */
.node {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.start-node {
    fill: #ff0000;
    stroke: #000;
    stroke-width: 1.5px;
}

.end-node {
    fill: #00ff00;
    stroke: #000;
    stroke-width: 1.5px;
}
.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.shortest-path {
    stroke: #ff0000;
    stroke-width: 2px;
}

