body {
    background-color: #cad3a9;
}

#algorithm-container {
    background-color: #f9f0e5;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.33);
    position: relative;
}

#result-container {
    height: 80vh;
    background-color: #f9f0e5;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.33);
}

.hover {
    cursor: pointer;
}

#explanation-text{
    position: absolute;
}

.story-preview-hide {
    position: absolute;
    background: #ffd6a0;
    text-align: center;
    width: 15rem;
    scale: 0;
}

.story-preview-show {
    position: absolute;
    background: #ffd6a0;
    text-align: center;
    width: 15rem;
    scale: 1;
}

#textBox{
    background-color: #fed9ff;
    overflow-x: hidden;
    overflow-y:scroll;
    text-align: center;
    padding: 20px;
}

/* Graph and Nodes */
.node {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.start-node {
    fill: #ff0000;
    stroke: #000;
    stroke-width: 1.5px;
}

.end-node {
    fill: #00ff00;
    stroke: #000;
    stroke-width: 1.5px;
}
.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.shortest-path {
    stroke: #ff0000;
    stroke-width: 2px;
}