@font-face {
    font-family: Zeit;
    src: url("../resources/fonts/Zeit-Light.otf") format("opentype");
}

:root {
    --color-primary-500: hsl(198, 54%, 37%);
    --color-primary-700: hsl(198, 54%, 17%);
    --color-secondary-500: hsl(0, 0%, 60%);
    --color-secondary-700: hsl(0, 0%, 40%);
    --color-success-500: hsl(102, 34%, 49%);
    --color-success-700: hsl(103, 34%, 29%);
    --color-warning-500: hsl(36, 82%, 51%);
    --color-warning-700: hsl(36, 82%, 31%);
    --color-danger-500: hsl(4, 90%, 58%);
    --color-danger-700: hsl(4, 90%, 38%);
    --color-info-500: hsl(165, 7%, 11%);
    --color-info-700: hsl(165, 7%, 1%);

    --color-light: hsl(43, 34%, 80%);
    --color-light-accent: hsl(98, 14%, 64%);
    --color-main: hsl(41, 36%, 53%);
    --color-dark-accent: hsl(17, 22%, 41%);
    --color-dark: hsl(157, 12%, 21%);

    --color-neutral-200: hsl(30, 37%, 93%);
    --color-neutral-800: hsl(210, 5%, 16%);

    --font-family-primary: Zeit;
    --font-family-heading: var(--font-family-primary);
    --font-family-body: var(--font-family-primary);

    --breakpoint-sm: 567px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}

body {
    background: var(--color-light);
}

/* backgrounds */

.bg-light {
    background: var(--color-light) !important;
}

.bg-light-accent {
    background: var(--color-light-accent) !important;
}

.bg-light-accent * {
    color: var(--color-neutral-200) !important;
}

.bg-main {
    background: var(--color-main) !important;
}

.bg-dark-accent {
    background: var(--color-dark-accent) !important;
}

.bg-dark-accent * {
    color: var(--color-neutral-200) !important;
}

.bg-dark {
    background: var(--color-dark) !important;
}

.bg-dark * {
    color: var(--color-neutral-200) !important;
}

.bg-fade-bottom {
    background: linear-gradient(
        var(--color-light-accent),
        var(--color-light-accent),
        var(--color-light-accent),
        var(--color-light-accent),
        var(--color-light-accent),
        transparent
    );
}

.bg-fade-top-bottom {
    background: linear-gradient(
        transparent,
        var(--color-light-accent),
        var(--color-light-accent),
        transparent
    );
}

/* texts */

.text-color-primary {
    color: var(--color-primary-500) !important;
}

.text-color-secondary {
    color: var(--color-secondary-500) !important;
}

.text-color-success {
    color: var(--color-success-500) !important;
}

.text-color-warning {
    color: var(--color-warning-500) !important;
}

.text-color-danger {
    color: var(--color-danger-500) !important;
}

.text-color-info {
    color: var(--color-info-500) !important;
}

.text-color-light {
    color: var(--color-neutral-200) !important;
}

.text-color-dark {
    color: var(--color-neutral-800) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
}

p {
    font-family: var(--font-family-body);
}

/* buttons */

.btn {
    font-family: var(--font-family-heading);
}

.btn-primary {
    background: var(--color-primary-500);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-primary:is(:hover, :focus) {
    color: var(--color-neutral-200) !important;
    background: var(--color-primary-700);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-secondary {
    background: var(--color-secondary-500);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-secondary:is(:hover, :focus) {
    color: var(--color-neutral-800) !important;
    background: var(--color-secondary-700);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-outline-secondary {
    color: var(--color-neutral-200) !important;
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-outline-secondary:is(:hover, :focus) {
    background: var(--color-secondary-700);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-success {
    background: var(--color-success-500);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-success:is(:hover, :focus) {
    color: var(--color-neutral-800) !important;
    background: var(--color-success-700);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-warning {
    color: var(--color-neutral-200);
    background: var(--color-warning-500);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-warning:is(:hover, :focus) {
    color: var(--color-neutral-800) !important;
    background: var(--color-warning-700);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-danger {
    background: var(--color-danger-500);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-danger:is(:hover, :focus) {
    color: var(--color-neutral-800) !important;
    background: var(--color-danger-700);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-info {
    color: var(--color-neutral-200) !important;
    background: var(--color-info-500);
    border: 0.12rem solid var(--color-neutral-800);
}

.btn-info:is(:hover, :focus) {
    background: var(--color-info-700);
    border: 0.12rem solid var(--color-neutral-800);
}

/* navbar */

.navbar {
    font-family: var(--font-family-heading);
}

.navbar-toggler > .navbar-toggler-icon {
    color: var(--color-neutral-200) !important;
}

.hero {
    /* Hiding the hero for aninmation initially */
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0%, 100%);
    opacity: 0;
    transform: translateY(100px);
}

.dijkstra-info {
    /* Hiding the section for aninmation initially */
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0%, 100%);
    opacity: 0;
    transform: translateY(100px);
}

.brand-logo {
    width: 64px;
}

.navbar-nav {
    text-align: right;
}

/* sections */

section {
    min-height: 50vh;
    padding-top: 2.5rem;
}

.algorithm-info {
    /* Hiding the section for aninmation initially */
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0%, 100%);
    opacity: 0;
    transform: translateY(100px);
}

.info-headline {
    background: var(--color-dark-accent);
    color: var(--color-neutral-200);
    padding: 1.5em;
    border-radius: 0.75rem;
    box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.2);
    margin: 1.5rem auto;
}

.queue-result-row {
    width: 100%;
    background: var(--color-neutral-200);
    text-align: start;
    border: 2px solid black;
    border-radius: 0.75rem;
    padding: 0.5em 1.5em;
    box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
}

#infoGraph {
    margin: 0 auto;
    width: 12rem;
    height: auto;
    background: var(--color-neutral-200);
    border: 2px solid black;
    border-radius: 0.75rem;
    padding: 1.5em;
    box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

#nodeTable {
    margin: 0 auto;
    background: var(--color-neutral-200);
    border: 2px solid black;
    border-radius: 0.75rem;
    box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.2);
}

#infoText {
    max-width: 50ch;
    height: 10ch;
}

.dijkstra-img {
    width: 50vw;
    border-radius: 2rem;
}

.dijkstra-info > .row {
    width: 75%;
}

.about-dijkstra {
    text-align: justify;
}

@media screen and (min-width: 992px) {
    .info-headline {
        padding: 0.5em;
    }

    .dijkstra-img {
        width: 25vw;
    }

    .about-dijkstra {
        width: 35ch;
    }
}

@media screen and (min-width: 1400px) {
    .dijkstra-info > .row {
        width: 100%;
    }
}
