:root {
  --light_green: #cad3a9;
  --white: #f6f1e4;
  --light-orange: #f4db97;
  --dark_orange: #f0c85f;
  --dark_red: #e66100;
  --light_red: #ea8f6d;
  --blue: #485979;
}

@font-face {
  font-family: Zeit;
  src: url("../resources/fonts/Zeit-Light.otf") format("opentype");
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--white)
}

/* buttons */
.bg-custom{
  background-color: var(--light-orange)
}

.btn-custom {
  background-color: var(--dark_red);
  border-color: var(--light_orange);
}

.btn-custom:hover {
  background-color: var(--light_red);
  border-color: var(--light_orange);
}

/* main heading*/
#mainHeading{
  font-weight: bold;
}

.bg-boxes {
  background-color: var(--dark_orange);
}

/* navbar and navlinks*/
.navbar {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.nav-link {
  position: relative;
}

.nav-link::after{
  content:'';
  opacity: 0;
  transition: all 0.2;
  height: 2px;
  width: 100%;
  background-color:black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link:hover::after{
  opacity: 1;
}

#mainLogo{
  width: 64px;
  height: 64px;
}

#portrait{
  border-radius: 50%;
}

