@font-face {
  font-family: Zeit;
  src: url("../resources/fonts/Zeit-Light.otf") format("opentype");
}

:root {
  --color-primary-400: hsl(73, 32%, 75%);
  --color-primary-200: hsl(73, 32%, 85%);
  --color-secondary-400: hsl(220, 10%, 43%);
  --color-secondary-200: hsl(220, 10%, 63%);
  --color-success-400: hsl(82, 24%, 41%);
  --color-success-200: hsl(82, 24%, 61%);
  --color-warning-400: hsl(38, 100%, 48%);
  --color-warning-200: hsl(38, 100%, 68%);
  --color-danger-400: hsl(13, 87%, 56%);
  --color-danger-200: hsl(13, 87%, 76%);
  --color-info-400: hsl(34, 100%, 81%);
  --color-info-200: hsl(34, 100%, 91%);
  --color-light: hsl(31, 94%, 93%);
  --color-dark: hsl(216, 9%, 21%); 

  --font-family-primary: Zeit;
  --font-family-heading: var(--font-family-primary);
  --font-family-body: var(--font-family-primary);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary-400);
}

/* backgrounds */

.bg-custom-primary {
  background: var(--color-primary-400);
}
.bg-custom-secondary {
  background: var(--color-secondary-400);
}
.bg-custom-success {
  background: var(--color-success-400);
}
.bg-custom-warning {
  background: var(--color-warning-400);
}
.bg-custom-danger {
  background: var(--color-danger-400);
}
.bg-custom-info {
  background: var(--color-info-400);
}
.bg-custom-light {
  background: var(--color-light);
}
.bg-custom-dark {
  background: var(--color-dark);
}
.bg-custom-dark * {
  color: white;
}

/* texts */

.text-color-primary {
  color: var(--color-primary-400);
}
.text-color-secondary {
  color: var(--color-secondary-400);
}
.text-color-success {
  color: var(--color-success-400);
}
.text-color-warning {
  color: var(--color-warning-400);
}
.text-color-danger {
  color: var(--color-danger-400);
}
.text-color-info {
  color: var(--color-info-400);
}
.text-color-light {
  color: var(--color-light);
}
.text-color-dark {
  color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

p {
  font-family: var(--font-family-body);
}

/* buttons */

.btn {
  font-family: var(--font-family-heading);
}
.btn-primary {
  background: var(--color-primary-400);
  border: none;
}
.btn-primary:is(:hover) {
  color: var(--color-dark);
  background: var(--color-primary-200);
  border: none;
}
.btn-secondary {
  background: var(--color-secondary-400);
  border: none;
}
.btn-secondary:is(:hover) {
  color: var(--color-dark);
  background: var(--color-secondary-200);
  border: none;
}
.btn-success {
  background: var(--color-success-400);
  border: none;
}
.btn-success:is(:hover) {
  color: var(--color-dark);
  background: var(--color-success-200);
  border: none;
}
.btn-warning {
  background: var(--color-warning-400);
  border: none;
}
.btn-warning:is(:hover) {
  color: var(--color-dark);
  background: var(--color-warning-200);
  border: none;
}
.btn-danger {
  background: var(--color-danger-400);
  border: none;
}
.btn-danger:is(:hover) {
  color: var(--color-dark);
  background: var(--color-danger-200);
  border: none;
}
.btn-info {
  background: var(--color-info-400);
  border: none;
}
.btn-info:is(:hover) {
  color: var(--color-dark);
  background: var(--color-info-200);
  border: none;
}

/* navbar */

.navbar {
  font-family: var(--font-family-heading);
}

.navbar-brand > img {
  width: 64px;
}

.navbar-nav {
  text-align: right;
}

/* sections */

section {
  min-height: 50vh;
  padding-top: 1.5rem;
}

.algorithm-card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
}

.algorithm-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-radius: 1rem;
  cursor: pointer;
  background: var(--color-secondary-200);
  grid-column: span 3;
  padding: 5rem;
  box-shadow: 0.2rem 0.2rem 0rem var(--color-dark);
  border: 0.1rem solid var(--color-dark);
}

.algorithm-card > .algorithm-card-title {
  transition: 0.2s;
}

.algorithm-card > p {
  display: none;
}
.algorithm-card.active > p {
  display: block;
  overflow: hidden;
}
.algorithm-card.active {
  grid-column: span 6;
  grid-row: 1;
  order: 0;
  height: auto;
}
.algorithm-card.inactive {
  grid-column: span 2;
}
.algorithm-card.inactive > .algorithm-card-title {
  font-size: 1.5rem;
}