@font-face {
  font-family: Zeit;
  src: url("../resources/fonts/Zeit-Light.otf") format("opentype");
}

:root {
  --color-primary-400: hsl(41, 36%, 53%);
  --color-secondary-400: hsl(0, 0%, 60%);
  --color-success-400: hsl(103, 34%, 49%);
  --color-warning-400: hsl(36, 82%, 51%);
  --color-danger-400: hsl(4, 90%, 58%);
  --color-info-400: hsl(165, 7%, 11%);

  --color-light: hsl(43, 34%, 88%);
  --color-light-accent: hsl(63, 7%, 49%);
  --color-main: hsl(41, 36%, 53%);
  --color-dark-accent: hsl(17, 22%, 41%);
  --color-dark: hsl(157, 12%, 21%);

  --color-neutral-200: hsl(30, 37%, 93%);
  --color-neutral-800: hsl(210, 5%, 16%);

  --font-family-primary: Zeit;
  --font-family-heading: var(--font-family-primary);
  --font-family-body: var(--font-family-primary);

  --breakpoint-sm: 567px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light);
}

/* backgrounds */

.bg-light {
  background: var(--color-light) !important;
}

.bg-light-accent {
  background: var(--color-light-accent) !important;
}

.bg-light-accent * {
  color: var(--color-neutral-200) !important;
}

.bg-main {
  background: var(--color-main) !important;
}

.bg-dark-accent {
  background: var(--color-dark-accent) !important;
}

.bg-dark-accent * {
  color: var(--color-neutral-200) !important;
}

.bg-dark {
  background: var(--color-dark) !important;
}

.bg-dark * {
  color: var(--color-neutral-200) !important;
}

/* texts */

.text-color-primary {
  color: var(--color-primary-400);
}

.text-color-secondary {
  color: var(--color-secondary-400);
}

.text-color-success {
  color: var(--color-success-400);
}

.text-color-warning {
  color: var(--color-warning-400);
}

.text-color-danger {
  color: var(--color-danger-400);
}

.text-color-info {
  color: var(--color-info-400);
}

.text-color-light {
  color: var(--color-neutral-200);
}

.text-color-dark {
  color: var(--color-neutral-800);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

p {
  font-family: var(--font-family-body);
}

/* buttons */

.btn {
  font-family: var(--font-family-heading);
}

.btn-primary {
  background: var(--color-primary-400);
  border: none;
}

.btn-primary:is(:hover) {
  color: var(--color-dark);
  background: var(--color-primary-200);
  border: none;
}

.btn-secondary {
  background: var(--color-secondary-400);
  border: none;
}

.btn-secondary:is(:hover) {
  color: var(--color-dark);
  background: var(--color-secondary-200);
  border: none;
}

.btn-success {
  background: var(--color-success-400);
  border: none;
}

.btn-success:is(:hover) {
  color: var(--color-dark);
  background: var(--color-success-200);
  border: none;
}

.btn-warning {
  background: var(--color-warning-400);
  border: none;
}

.btn-warning:is(:hover) {
  color: var(--color-dark);
  background: var(--color-warning-200);
  border: none;
}

.btn-danger {
  background: var(--color-danger-400);
  border: none;
}

.btn-danger:is(:hover) {
  color: var(--color-dark);
  background: var(--color-danger-200);
  border: none;
}

.btn-info {
  background: var(--color-info-400);
  border: none;
}

.btn-info:is(:hover) {
  color: var(--color-dark);
  background: var(--color-info-200);
  border: none;
}

/* navbar */

.navbar {
  font-family: var(--font-family-heading);
}

.brand-logo {
  width: 64px;
}

.navbar-nav {
  text-align: right;
}

/* sections */

section {
  min-height: 70vh;
  padding-top: 2.5rem;
}

.algorithm-card {
  border: 0.1rem solid var(--color-neutral-800);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem;
  padding: 2rem;
}

.algorithm-card:last-child {
  margin-bottom: 0;
}

.algorithm-card>p {
  display: none;
}

.algorithm-card>.algorithm-card-title {
  font-size: 1.5rem;
  transition: 0.2s;
}

.algorithm-card.active>p {
  display: block;
  overflow: hidden;
}

.dijkstra-img {
  width: 50vw;
  border-radius: 2rem;
}

.dijkstra-info>.row {
  width: 75%;
}

@media screen and (min-width: 992px) {
  .algorithm-card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
  }

  .algorithm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    cursor: pointer;
    grid-column: span 3;
    padding: 5rem;
    margin: 0;
  }

  .algorithm-card>.algorithm-card-title {
    font-size: 2rem;
  }

  .algorithm-card.active {
    grid-column: span 6;
    grid-row: 1;
    order: 0;
    height: auto;
  }

  .algorithm-card.inactive {
    grid-column: span 2;
  }

  .algorithm-card.inactive>.algorithm-card-title {
    font-size: 1.5rem;
  }

  .dijkstra-img {
    width: 25vw;
  }
}

@media screen and (min-width: 1400px) {
  .dijkstra-info>.row {
    width: 100%;
  }
}